
*.ipch
*.ipch
.vs/My3D/v16/ipch/AutoPCH/462c037e766cb3d6/MY3D.ipch
.vs/My3D/v16/.suo
.vs/My3D/v16/Browse.VC.db
Debug/vc142.idb
Debug/Rasterization.obj
Debug/My3D.tlog/unsuccessfulbuild
Debug/My3D.tlog/rc.write.1.tlog
Debug/My3D.tlog/rc.read.1.tlog
.vs/My3D/v16/.suo
.vs/My3D/v16/Browse.VC.db
.vs/My3D/v16/ipch/AutoPCH/1c522d9e2d5f961a/MATRIX.ipch
.vs/My3D/v16/ipch/AutoPCH/462c037e766cb3d6/MY3D.ipch
Debug/Actor.obj
Debug/Camera.obj
Debug/Matrix.obj
Debug/My3D.exe
Debug/My3D.ilk
Debug/My3D.log
Debug/My3D.obj
Debug/My3D.pdb
Debug/My3D.res
Debug/My3D.tlog/CL.command.1.tlog
Debug/My3D.tlog/CL.read.1.tlog
Debug/My3D.tlog/CL.write.1.tlog
Debug/My3D.tlog/link.command.1.tlog
Debug/My3D.tlog/link.read.1.tlog
Debug/My3D.tlog/link.write.1.tlog
Debug/My3D.tlog/My3D.lastbuildstate
Debug/My3D.tlog/rc.command.1.tlog
Debug/My3D.tlog/unsuccessfulbuild
Debug/Rasterization.obj
Debug/vc142.idb
Debug/vc142.pdb
